<section id="unsupportedBrowsers" class="hide">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h5>
                    Please note that this application no longer supports Internet Explorer.
                </h5>
                <p class="m-0">
                    We recommend upgrading to the latest <a href="https://www.microsoft.com/en-us/windows/microsoft-edge">Microsoft Edge</a>,
                    <a href="https://chrome.google.com">Google Chrome</a>,
                    or <a href="https://mozilla.org/firefox/">Firefox</a>.
                </p>
                <br />
            </div>

            <div class="col-md-4">
                <p class="text-right">
                    <br />
                    <i class="fa fa-warning fa-4x text-danger"></i>
                </p>
            </div>
        </div>
    </div>
</section>