
@{
    ViewData["Title"] = "Students";
}

<div class="page-wrapper">
    <div class="page-header">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <div class="d-inline">

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="page-header-breadcrumb">
                    <ul class="breadcrumb-title">
                        <li class="breadcrumb-item">
                            <a href="index.html"> <i class="feather icon-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            @*<a href="#!">Static table</a>*@
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#!">View Incident</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="page-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>View Incident</h5>
                    </div>
                    <div class="card-block">
                        <view-report-incident-component></view-report-incident-component>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

