@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Students";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Online Clearance</title>

    <!---------------------------------Login page css---->
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico">

    <!-- main CSS
        ============================================ -->
    <link href="~/src/css/app.css" rel="stylesheet" />
    <script src="~/dist/app.js" defer></script>
</head>
<body class="app">

    <div id="app" class="content">
        <div class="intro-y flex items-center mt-8">
            <h2 class="text-lg font-medium mr-auto">
                Welcome @ViewBag.studentid
            </h2>
            <nav class="top-nav">
                <ul>
                    <li>
                        <a href="/Home/homepage" class="top-menu top-menu--active">
                            <div class="top-menu__icon"> <i data-feather="home"></i> </div>
                            <div class="top-menu__title"> Sign Out </div>
                        </a>
                    </li>
                    @*<li>
                            <a href="/Authentication/Login" class="top-menu--active">
                                <div class="top-menu__icon"> <i data-feather="box"></i> </div>
                                <div class="top-menu__title"> Sign Out <i data-feather="chevron-down" class="top-menu__sub-icon"></i> </div>

                            </a>
                        </li>*@
                </ul>
            </nav>

        </div>
        <div class="grid grid-cols-12 gap-6 mt-12">
            <div class="intro-y col-span-12 lg:col-span-12">
                <div class="intro-y box">
                    <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
                        <h2 class="font-medium text-base mr-auto">
                            Add student 
                        </h2>
                    </div>
                    <div class="intro-y col-span-12 lg:col-span-12">
                        <!-- BEGIN: Vertical Form yes -->
                        <div class="intro-y box">
                            <create-student studentid="@Context.Session.GetString("StudentNumber")"></create-student>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <!-- main JS
    ============================================ -->
    <script src="~/src/js/app.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>

