
@{
    ViewData["Title"] = "StudentsUpload";
}

<div class="page-wrapper">

    <div class="page-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Students Upload</h5>
                    </div>
                    <div class="card-block">

                        @TempData["message"]
               
                            <a href="~/uploads/trial_balance.xlsx">Download Sample</a>

                            @using (Html.BeginForm("StudentUpload", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()


                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="file" name="formFile" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <input type="submit" name="Submit" id="Submit" class="btn btn-primary" value="Upload" />
                                        </div>
                                    </div>
                                </div>}

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
