@using OnlineClearanceWeb.ViewModels
@model LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "_AuthLayout";
}
<div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">

    <div class="my-auto mx-auto xl:ml-20 bg-white xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">
        <h2 class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left">
            Sign In
        </h2>
        <div class="intro-x mt-2 text-gray-500 xl:hidden text-center">A few more clicks to sign in to your account. Manage all your e-commerce accounts in one place</div>
        <form id="loginForm" asp-action="Login" asp-controller="Authentication">
            <div class="intro-x mt-8">
                <input type="text" class="intro-x login__input input input--lg border border-gray-300 block" title="Please enter you username" name="Username" required=required id="Username" placeholder="Username">
                <input type="password" class="intro-x login__input input input--lg border border-gray-300 block mt-4" title="Please enter your password" placeholder="Password" required=required name="Password" id="Password">
               
                    <select name="type" id="type" class="intro-x login__input input input--lg border border-gray-300 block mt-4"required>
                        <option value=""></option>
                        <option value="Student">Student</option>
                        <option value="Admin">Admin</option>
                    </select>

            </div>
            <div class="intro-x flex text-gray-700 dark:text-gray-600 text-xs sm:text-sm mt-4">
                <div class="flex items-center mr-auto">
                    <input type="checkbox" class="input border mr-2" id="remember-me">
                    <label class="cursor-pointer select-none" for="remember-me">Remember me</label>
                </div>
                <a href="">Forgot Password?</a>
            </div>
            <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
                <button class="button button--lg w-full xl:w-32 text-white bg-theme-1 xl:mr-3 align-top">Login</button>
               
                @*<button class="button button--lg w-full xl:w-32 text-gray-700 border border-gray-300 dark:border-dark-5 dark:text-gray-300 mt-3 xl:mt-0 align-top"data-toggle="modal" data-target="#PrimaryModalhdbgcl" >Sign up</button>*@
            </div>
            <div class="intro-x mt-10 xl:mt-24 text-gray-700 dark:text-gray-600 text-center xl:text-left">
                By signin up, you agree to our
                <br>
                <a class="text-theme-1 dark:text-theme-10" href="">Terms and Conditions</a> & <a class="text-theme-1 dark:text-theme-10" href="">Privacy Policy</a>
            </div>
        </form>

       
    </div>
</div>
<!--<!DOCTYPE html>
 <html lang="en">

            <head>
                     <title>Staff Login </title>

                    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
                    <meta charset="utf-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
                    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
                    <meta name="description" content="#">
                    <meta name="keywords" content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
                    <meta name="author" content="#">

                    <link rel="icon" href="https://colorlib.com//polygon/adminty/files/assets/images/favicon.ico" type="image/x-icon">
                    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
                    
                    <link rel="stylesheet" type="text/css" href="~/css/bower_components/bootstrap/css/bootstrap.min.css">

                    <link rel="stylesheet" type="text/css" href="~/css/assets/icon/themify-icons/themify-icons.css">

                    <link rel="stylesheet" type="text/css" href="~/css/assets/icon/icofont/css/icofont.css">

                    <link rel="stylesheet" type="text/css" href="~/css/assets/css/style.css">
        </head>
            <body class="fix-menu">
                @if (TempData["ErrorMessage"] != null)
                {
                    <script>
                        alert('@TempData["ErrorMessage"]');
                    </script>
                }

                <section class="login-block">

                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <form class="md-float-material form-material" asp-action="Login" asp-controller="Authentication">
                                    <div class="text-center">-->
                                        @*<img src="~/css/assets/images/logo.png" alt="logo.png">*@
                                        <!--<h3 style="color:white;font-weight:bold;">Staff Login</h3>
                                    </div>
                                    <div class="auth-box card">
                                        <div class="card-block">
                                            <div class="row m-b-20">
                                                <div class="col-md-12">
                                                    <h3 class="text-center">Sign In</h3>
                                                </div>
                                            </div>
                                            <div class="form-group form-primary">
                                                <input type="text" name="UserName" class="form-control" required="" placeholder="Enter your username">
                                                <span class="form-bar"></span>
                                            </div>
                                            <div class="form-group form-primary">
                                                <input type="password" name="Password" class="form-control" required="" placeholder="Password">
                                                <span class="form-bar"></span>
                                            </div>
                                            <div class="form-group form-primary">
                                                <select name="type" id="type" class="form-control" required>
                                                    <option value=""></option>
                                                    <option value="Student">Student</option>
                                                    <option value="Admin">Admin</option>
                                                </select>
                                                <span class="form-bar"></span>
                                            </div>
                                            <div class="row m-t-25 text-left">
                                                <div class="col-12">
                                                    <div class="checkbox-fade fade-in-primary d-">
                                                        <label>
                                                            <input type="checkbox" value="">
                                                            <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                                            <span class="text-inverse">Remember me</span>
                                                        </label>
                                                    </div>
                                                    <div class="forgot-phone text-right f-right">
                                                        <a href="auth-reset-password.html" class="text-right f-w-600"> Forgot Password?</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row m-t-30">
                                                <div class="col-md-12">
                                                    <button type="submit" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">Sign in</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>

                </section>




                <script type="text/javascript" src="~/css/bower_components/jquery/js/jquery.min.js"></script>
                <script type="text/javascript" src="~/css/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
                <script type="text/javascript" src="~/css/bower_components/popper.js/js/popper.min.js"></script>
                <script type="text/javascript" src="~/css/bower_components/bootstrap/js/bootstrap.min.js"></script>

                <script type="text/javascript" src="~/css/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>

                <script type="text/javascript" src="~/css/bower_components/modernizr/js/modernizr.js"></script>
                <script type="text/javascript" src="~/css/bower_components/modernizr/js/css-scrollbars.js"></script>

                <script type="text/javascript" src="~/css/bower_components/i18next/js/i18next.min.js"></script>
                <script type="text/javascript" src="~/css/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js"></script>
                <script type="text/javascript" src="~/css/bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js"></script>
                <script type="text/javascript" src="~/css/bower_components/jquery-i18next/js/jquery-i18next.min.js"></script>
                <script type="text/javascript" src="~/css/assets/js/common-pages.js"></script>


            </body>

</html>-->

